/**************************
CORE STYLES
**************************/

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  padding: 100px 50px 50px 50px;
}

/**************************
FONT
**************************/

* {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-bottom: 30px;
}

#wrapper h4 {
  margin-top: 50px;
  margin-bottom: 10px;
}

#wrapper p {
  width: 570px;
  font-size: 12px;
  line-height: 18px;
}

#intro {
  padding-left: 10px;
  border-left: 3px solid black;
}

#intro p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.25px;
}

a:hover {
  color: slateblue;
}

footer span {
  margin-right: 5px;
}

/**************************
COMMON ELEMENTS
**************************/

button {
  width: 120px;
  background-color: #ddd;
  border: 0;
  font-size: .7em;
  color: white;
  font-weight: bold;
  letter-spacing: .06em;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

button:hover {
  background-color: slateblue;
}

button:active {
  background-color: #888;
}

button:focus {
  outline: 0;
}


/**************************
NAV
**************************/

nav {
  display: flex;
  position: fixed;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
}

nav h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
}


/**************************
FOOTER STYLES
**************************/

footer {
  margin-top: 20px;
  width: 100%;
  height: 150px;
}

footer div {
  margin-left: 50px;
  width: 90%;
  border-top: 1px solid lightgray;
  min-width: 723px;
}

footer div p {
  text-align: right;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
