/**************************
Shared D3 Styles
**************************/

/* Primary Color: slateblue */
/* Primary Color (darker): #4b39b9; */

.d3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 723px;
}

.d3 svg {
  width: 600px;
  height: 200px;
  background-color: #f7f7f7;
}

.d3 svg circle, .d3 svg rect {
  fill: slateblue;
}

/**************************
Pair 1 - Scatterplot
**************************/

#pair-1 {

}

/**************************
Demo 1 - Circles
**************************/

#demo-1 circle {
  transition: fill .075s linear;
  cursor: pointer;
}

#demo-1 text {
  fill: white;
  font: 10px sans-serif;
}

#demo-1 circle:hover {
  fill: #4b39b9;
}

/**************************
Demo 2 - Bar Chart
**************************/

/*#demo-2 rect {
  transition: fill .075s linear;
}

#demo-2 rect:hover {
  fill: #4b39b9;
}

#demo-2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}*/

/**************************
Demo 3 - Update, Enter, Exit
**************************/

/*#demo-3 circle {

}*/

/**************************
Demo 4 - Run / Reset
**************************/

/*#demo-4 circle {

}*/
