/**************************
COMMON D3 STYLES
**************************/

.d3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 723px;
}

.d3 svg {
  width: 600px;
  height: 200px;
  background-color: #f7f7f7;
}

/* Darker slateblue*/
/*background-color: #4b39b9;*/

/**************************
SVG1
**************************/

#svg-1 svg circle {
  fill: slateblue;
}

#svg-1 svg text {
  fill: white;
  font: 10px sans-serif;
}

/**************************
SVG2
**************************/

#svg-2 svg rect {
  fill: slateblue;
}

#svg-2 svg text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/**************************
SVG3
**************************/

#svg-3 svg rect {
  fill: slateblue;
}

#svg-3 svg text {
  font: 10px sans-serif;
  fill: white;
}

/**************************
SVG3
**************************/

#svg-4 svg circle {
  fill: slateblue;
}
