/**************************
COMMON D3 STYLES
**************************/

.d3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 723px;
}

.d3 svg {
  width: 600px;
  height: 200px;
  background-color: #f7f7f7;
}

/* Darker slateblue*/
/*background-color: #4b39b9;*/

/**************************
SVG1
**************************/

#demo-1 circle {
  fill: slateblue;
  transition: fill .075s linear;
}

#demo-1 text {
  fill: white;
  font: 10px sans-serif;
}

#demo-1 circle:hover {
  fill: #4b39b9;
}

/**************************
SVG2
**************************/

#demo-2 rect {
  fill: slateblue;
  transition: fill .075s linear;
}

#demo-2 rect {
  fill: #4b39b9;
}

#demo-2 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/**************************
SVG3
**************************/

#demo-3 circle {
  fill: slateblue;
}

/**************************
SVG4
**************************/

#demo-4 circle {
  fill: slateblue;
}

/**************************
SVG5
**************************/
